@tailwind base;
@layer base {
  :root {
    --accent: #bb2649;
    --foreground: #ffffff;
    --background: #000000;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --accent: #26bb98;
      --foreground: #000000;
      --background: #ffffff;
    }
  }

  html {
    color-scheme: dark light;
    @apply antialiased;
    font-family: "Open Sans", "Roboto", sans-serif;
    @apply scroll-smooth;
    @apply bg-background text-foreground;
  }
}
@tailwind components;
@tailwind utilities;
